{% from "mongodb/map.jinja" import mongodb with context %}
{% set MONGO_ADMIN_USER = salt.pillar.get("mongodb:admin_username") %}
{% set MONGO_ADMIN_PASSWORD = salt.pillar.get("mongodb:admin_password") %}

// Add super user
conn = new Mongo("localhost:{{ mongodb.port }}");
db = conn.getDB("admin");

if(!db.auth('{{ MONGO_ADMIN_USER|trim }}', '{{ MONGO_ADMIN_PASSWORD|trim }}')) {
    db.addUser(
        {
            "user": "{{ MONGO_ADMIN_USER|trim }}",
            "pwd": "{{ MONGO_ADMIN_PASSWORD|trim }}",
            "roles": ["root"]
        }
    );
} else {
    db.updateUser(
        "{{ MONGO_ADMIN_USER|trim }}",
        {
            "pwd": "{{ MONGO_ADMIN_PASSWORD|trim }}",
            "roles": ["root"]
        }
    );
}
