{% from "mongodb/map.jinja" import mongodb with context %}

{# Bind to all ips(default) if in clustered mode,
   otherwise only to the specified local ip.
#}

dbpath = {{ mongodb.dbpath }}
logpath =  {{ mongodb.logpath }}
logappend = true

bind_ip = 0.0.0.0
port = {{ mongodb.port }}

# Enable journaling, http://www.mongodb.org/display/DOCS/Journaling
{% if mongodb.enable_journal %}
journal = true
{% else %}
journal = false
nojournal = true
{% endif %}
