{% from "mongodb/map.jinja" import mongodb with context %}
{% set MONGO_ADMIN_USER = salt.pillar.get("mongodb:admin_username") %}
{% set MONGO_ADMIN_PASSWORD = salt.pillar.get("mongodb:admin_password") %}

conn = new Mongo("localhost:{{ mongodb.port }}");
db = conn.getDB("admin");
db.auth( '{{ MONGO_ADMIN_USER }}', '{{ MONGO_ADMIN_PASSWORD }}');

rs.slaveOk()

// Check that the cluster is ok
if(!rs.status().ok) { throw 'Mongo Cluster Not Ok';}

if(rs.isMaster().ismaster) {
    // Now add super user to cluster
    conn = new Mongo("localhost:{{ mongodb.port }}");
    db = conn.getDB("admin");
    db.auth( '{{ MONGO_ADMIN_USER|trim }}', '{{ MONGO_ADMIN_PASSWORD|trim }}');

    if(db.getUser("{{ MONGO_ADMIN_USER|trim }}") == null) {
        db.createUser(
            {
                "user": "{{ MONGO_ADMIN_USER|trim }}",
                "pwd": "{{ MONGO_ADMIN_PASSWORD|trim }}",
                "roles": ["root"]
            }
        );
    } else {
        db.updateUser(
            "{{ MONGO_ADMIN_USER|trim }}",
            {
                "pwd": "{{ MONGO_ADMIN_PASSWORD|trim }}",
                "roles": ["root"]
            }
        );
    }
}
