{% set mongodb = salt['grains.filter_by']({
    'default': {
      'mongo_cluster_key_file': '/etc/mongodb_key',
    },
    'Debian': {
      'mongo_repo': 'deb http://downloads-distro.mongodb.org/repo/debian-sysvinit dist 10gen',
      'mongo_repo_dist': 'dist',
      'mongo_key': '7F0CEB10',
      'mongo_keyserver': 'keyserver.ubuntu.com',
      'pkgs': [
        {'mongodb-org': '2.6.5'}
      ],
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt['pillar.get']('mongodb:lookup'), base='default') %}
